h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.81818em;
}

h3 {
  font-size: 1.66667em;
}

h4 {
  font-size: 1.53846em;
}

p {
  font-size: 1.25em;
}

p {
  font-size: 1.42857em;
}

p {
  font-size: 1.42857em;
  font-style: italic;
}
